
:root {
  --bg: #FFF7EE; /* warm cream */
  --text: #111217; /* dark text */
  --accent: #f3b038; /* primary accent (warm yellow) */
  --muted: #6b6b6b;
}


/* Page root */
.admin-root {
  background-color: var(--bg);
  min-height: 100vh;
  color: var(--text);
  overflow: hidden;
}

.nav{
  background: #FFF7EE important;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {

    background: #FFF7EE;
}

.navbar>.bg-light {
    --bs-bg-opacity: 1;
    background-color: #ffffff;
}


/* Sidebar */
.sidebar {
  width: 260px;
  background-color: var(--bg);
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.brand {
  display: flex;
  gap: 10px;
  align-items: center;
}

.brand img {
  width: 42px;
  border-radius: 50%;
}

.nav-link {
  color: #000;
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
}

.nav-link.active,
.nav-link:hover {
  background-color: #FFFFFF;
  color: #000;
  font-weight: 600;
}



.help {
  color: #000;
  font-size: 14px;
}

/* Main content */
.main-content {
  background-color: var(--bg);
  flex: 1;
  padding: 24px;
  overflow-y: auto;
  height: 100vh;
}

/* Top bar */
.topbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search {
  background: #EFE9E3;
  padding: 8px 12px;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  width: 320px;
}

.search input {
  background: none;
  border: none;
  outline: none;
  color: #000;
  width: 100%;
}

.avatar {
  background: var(--accent);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-weight: bold;
  color: #000;
}

.main-content .card-alt {
  background-color: #ffffff !important;
  border: none;
}

.row > div {
  background: transparent !important;
}
/* Cards */
.card-alt {
  background: #fff !important;
  padding: 18px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  color: #000;
}


.green { color: #10b981 }
.red { color: #ef4444 }
.orange { color: #f59e0b }

.chart-img {
  width: 100%;
  margin-top: 10px;
}

.feedback {
  border-top: 1px solid var(--accent);
  padding-top: 12px;
  margin-top: 12px;
}

.stars {
  color: #f59e0b;
  display: flex;
  gap: 4px;
}

/* Buttons */
.btn-download {
  background-color: var(--accent);
  color: #FFF;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.btn-download:hover {
  background-color: #D9CFC7;
}

.actions {
  display: flex;
  gap: 12px;
  margin-bottom: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .admin-root {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    min-height: auto;
    
  }

  .main-content {
    height: auto;
    padding: 1rem;
  }
}
